@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #323842;
    display: flex;
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    font-size: 17px;
    a{
        color: white;
        text-decoration: none;
    }
    #sidebar{
        flex: 0 0;
        font-size: 18px;
        padding: 0 3rem;
        height: 100vh;
        background-color: #474c55;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        > * + *{
            margin-top: 1rem;
        }
        img{
            margin-top: 50%;
            width: 80%;
            margin-bottom: 1rem;
        }
    }
    main{
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 1rem;
        .graph{
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: center;
            & > canvas{
                height: 100%;
            }
        }
    }
}