@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-less{
    color: #ffffffb0;
}
.bold{
    font-weight: bold;
}
body{
    background-color: #323642;
    color: white;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    > header{
        width: 100%;
        padding: 1rem 0 1rem 1rem;
        margin-bottom: 1rem;
        background-color: #191c22;
        img{
            width: 40%;
            vertical-align: middle;
            max-width: 300px;
        }
    }
}

main{
    padding: 0 1rem;
    p#intro{
        padding: 1rem 0;
        text-align: justify;
    }
    #form{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        .question{
            padding: 1rem;
            border-radius: 2px;
            display: flex;
            flex-direction: column;
            background-color: #22262f;
            box-shadow: 0 0 1px 0 white;
            & + .question{
                margin-top: 1rem;
            }
            & > * + *{
                margin-top: 0.4rem;
            }

            > label{
                text-align: justify;
            }

            input[type='text']{
                box-shadow: 0 0 1px 0 white;
                border: none;
                padding: 0.4rem 1rem;
                border-radius: 2px;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }
            .choix{
                display: flex;
                justify-content: space-around;
                label{
                    text-align: center;
                }
                > div + div{
                    margin-left: 0.5rem;
                }
                > div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                input[type='radio']{
                    margin-top: 0.5rem;
                }
            }
            .response{
                font-weight: bold;
                font-size: calc(17px);
            }
            
        }
        #wrapper-submit{
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;

            & > input[type='submit']{
                border: none;
                padding: 0.4rem 1rem;
                box-shadow: 0 0 1px 0 white;
                background-color: #22262f;
                color: white;
                border-radius: 2px;
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    body > header{
        padding-left: calc(15% + 1rem);
    }
    main{
        width: 70%;
    }
    input[type='text']{
        width: 60%;
    }
}