@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #323842;
  display: flex;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100%;
  font-size: 17px;
}

body a {
  color: white;
  text-decoration: none;
}

body #sidebar {
  flex: 0 0;
  padding-top: 8rem;
  font-size: 18px;
  height: 100vh;
  background-color: #474c55;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

body #sidebar a {
  padding: 0 3rem;
}

body #sidebar > * + * {
  margin-top: 1rem;
}

body #sidebar img {
  width: 80%;
  margin-bottom: 1rem;
}

body main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 1rem;
}

body main .graph {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

