@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-less {
  color: #ffffffb0;
}

.bold {
  font-weight: bold;
}

a {
  color: white;
  font-weight: bold;
}

.error {
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}

.error p {
  background-color: #c30a0d;
  box-shadow: 0 0 1px 0 white;
  padding: 0.5rem 1rem;
}

body {
  background-color: #323642;
  color: white;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

body > header {
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;
  background-color: #191c22;
}

body > header img {
  width: 40%;
  vertical-align: middle;
  max-width: 300px;
}

main {
  padding: 0 1rem;
}

main p#intro {
  padding: 1rem 0;
  text-align: justify;
}

main #form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

main #form .question {
  padding: 1rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background-color: #22262f;
  box-shadow: 0 0 1px 0 white;
}

main #form .question + .question {
  margin-top: 1rem;
}

main #form .question > * + * {
  margin-top: 0.4rem;
}

main #form .question > label {
  text-align: justify;
}

main #form .question input[type=text] {
  box-shadow: 0 0 1px 0 white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

main #form .question .choix {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main #form .question .choix label {
  text-align: center;
}

main #form .question .choix > div + div {
  margin-left: 0.5rem;
}

main #form .question .choix > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0px;
}

main #form .question .choix input[type=radio] {
  margin: 0.5rem 0;
  width: 15px;
  height: 15px;
}

main #form .question .response {
  font-weight: bold;
  font-size: calc(17px);
}

main #form #wrapper-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

main #form #wrapper-submit > input[type=submit] {
  border: none;
  padding: 0.4rem 1rem;
  box-shadow: 0 0 1px 0 white;
  background-color: #22262f;
  color: white;
  border-radius: 2px;
  font-size: 20px;
}

@media screen and (min-width: 800px) {
  body {
    font-size: 17px;
  }

  body > header {
    padding-left: calc(15% + 1rem);
  }

  main {
    padding: 0 calc(15% + 1rem);
  }

  input[type=text] {
    width: 60%;
  }
}

